.display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 99rem;
  height: 38.3rem;
  padding: 1rem;
  margin: 0 auto;

  background-color: rgba(3, 3, 5, 0.5);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.5rem rgba(3, 3, 5, 0.5);

  transition-duration: 0.1s;
  transition-property: background-color, box-shadow;

  &__title,
  &__textarea {
    font-size: 2rem;
    font-weight: inherit;
  }

  &__title {
    text-align: center;
    text-shadow: 0 0 0.5rem #d8d9dd;
  }

  &__textarea {
    display: block;
    height: 100%;
    padding: 0;

    font-family: inherit;
    color: inherit;

    resize: none;
    background-color: transparent;
    border: 0;
    outline: none;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(
        to bottom,
        #4d4e53,
        #5a5b5f,
        #616267,
        #68696d,
        #65666a,
        #505154
      );
      transition-duration: 0.1s;
      transition-property: background-image, background-color;
    }
  }
}
