@font-face {
  font-family: "San Francisco Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/SFProDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "San Francisco Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SFProDisplay-Regular.woff") format("woff");
}
