* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;

  font-family: "San Francisco Pro Display", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.05rem;

  background-image: url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
